<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>City Form Fragment</title>
</head>
<body>
<form th:fragment="address-form" action="#" th:action="@{__${#httpServletRequest.requestURI}__}" th:object="${address}"
      method="post">
    <label th:text="#{address.label.street.name}">Address</label>

    <br>
    <input type="text" th:field="*{streetName}">
    <label class="error" th:errors="*{streetName}">Name error placeholder</label>
    <br><br>

    <label th:text="#{address.label.city}">City</label>
    <br/>
    <select th:field="*{cityId}">
        <option th:each="city : ${cities}"
                th:value="${city.getId()}"
                th:text="${city.getName()}+', '+${city.getCountry().getName()}">
            City Country
        </option>
    </select>
    <label class="error" th:errors="*{cityId}">City error placeholder</label>
    <br/><br/>

    <input type="submit" value="Save"/>
</form>
</body>
</html>