<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>City Form Fragment</title>
</head>
<body>
<form th:fragment="city-form" action="#" th:action="@{__${#httpServletRequest.requestURI}__}" th:object="${city}"
      method="post">
    <label th:text="#{city.label.name}">City</label>

    <br>
    <input type="text" th:field="*{name}">
    <label class="error" th:errors="*{name}">Name error placeholder</label>
    <br><br>

    <label th:text="#{city.label.country}">Country</label>
    <br/>
    <select th:field="*{countryId}">
        <option th:each="country : ${countries}"
                th:value="${country.getId()}"
                th:text="${country.getName()}">
            City Country
        </option>
    </select>
    <label class="error" th:errors="*{countryId}">Country error placeholder</label>
    <br/><br/>

    <input type="submit" value="Save"/>
</form>
</body>
</html>