<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>All Countries</title>
    <link href="../static/styles.css" th:href="@{/styles.css}" rel="stylesheet"/>
</head>
<body>
<ul>
    <li><h3><a href="/" th:text="#{navigation.home}">Home</a></h3></li>
</ul>

<div th:if="${countries.isEmpty()}">
    <h2 th:text="#{country.title.empty}">No Countries</h2>
</div>
<div th:unless="${countries.isEmpty()}">
    <h2 th:text="#{country.title}">All Countries</h2>

    <div class="table">
        <div class="header">
            <div class="cell" th:text="#{country.label.name}">Name</div>
        </div>
        <div class="row" th:each="country : ${countries}">
            <div class="cell">
                <a href="#" th:href="@{/countries/{id}(id=${country.getId})}" th:text="${country.name}">Country</a>
            </div>
        </div>
    </div>
</div>
</body>
</html>