<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Country Form Fragment</title>
</head>
<body>
<form th:fragment="country-form" action="#" th:action="@{__${#httpServletRequest.requestURI}__}" th:object="${country}" method="post">
    <label th:text="#{country.label.name}">Country</label>

    <br/>
    <input type="text" th:field="*{name}"/>
    <label class="error" th:errors="*{name}">Name error placeholder</label>
    <br/><br/>

    <input type="submit" value="Save"/>
</form>
</body>
</html>