<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Fragments</title>

    <!-- Custom fonts for this template-->
    <link href="../static/panel/vendor/fontawesome-free/css/all.min.css"
          th:href="@{/panel/vendor/fontawesome-free/css/all.min.css}"
          rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
          rel="stylesheet">

    <!-- Custom styles for this template-->
    <link href="../static/panel/css/sb-admin-2.min.css" th:href="@{/panel/css/sb-admin-2.min.css}" rel="stylesheet">
</head>
<body>


<!-- Start of Sidebar -->
<ul th:fragment="sidebar" class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">

    <!-- Sidebar - Brand -->
    <a class="sidebar-brand d-flex align-items-center justify-content-center" href="#" th:href="@{/panel}">
        <div class="sidebar-brand-text mx-3">DELIVERIT PANEL</div>
    </a>

    <!-- Divider -->
    <hr class="sidebar-divider my-0">

    <!-- Nav Item - Dashboard -->
    <li class="nav-item">
        <a class="nav-link" href="#" th:href="@{/panel}">
            <i class="fas fa-fw fa-tachometer-alt"></i>
            <span>Dashboard</span></a>
    </li>

    <li th:if="${isEmployee}" class="nav-item">
        <a class="nav-link" href="#" th:href="@{/panel/users}">
            <i class="fas fa-fw fa-users"></i>
            <span>Users</span></a>
    </li>

    <li class="nav-item">
        <a class="nav-link" href="#" th:href="@{/panel/parcels}">
            <i class="fas fa-fw fa-box-open"></i>
            <span>Parcels</span></a>
    </li>

    <li th:if="${isEmployee}" class="nav-item">
        <a class="nav-link" href="#" th:href="@{/panel/shipments}">
            <i class="fas fa-fw fa-truck"></i>
            <span>Shipments</span></a>
    </li>

    <li class="nav-item">
        <a class="nav-link" href="#" th:href="@{/panel/warehouses}">
            <i class="fas fa-fw fa-warehouse"></i>
            <span>Warehouses</span></a>
    </li>

    <!-- Divider -->
    <hr class="sidebar-divider d-none d-md-block">

    <!-- Sidebar Toggler (Sidebar) -->
    <div class="text-center d-none d-md-inline">
        <button class="rounded-circle border-0" id="sidebarToggle"></button>
    </div>

</ul>
<!-- End of Sidebar -->


<!-- Start of Top Bar -->
<nav th:fragment="topbar" class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">

    <!-- Sidebar Toggle (Topbar) -->
    <button id="sidebarToggleTop" class="btn btn-link d-md-none rounded-circle mr-3">
        <i class="fa fa-bars"></i>
    </button>

    <!-- Topbar Navbar -->
    <ul class="navbar-nav ml-auto">

        <!-- Nav Item - User Information -->
        <li class="nav-item dropdown no-arrow">
            <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button" data-toggle="dropdown"
               aria-haspopup="true" aria-expanded="false">
                <span th:text="${currentLoggedUser.firstName}+' '+${currentLoggedUser.lastName}"
                      class="mr-2 d-none d-lg-inline text-gray-600 small">Firstname Lastname</span>
                <img class="img-profile rounded-circle"
                     th:src="${currentLoggedUser.profilePicture} != null ? ${currentLoggedUser.profilePicture} : 'https://as1.ftcdn.net/v2/jpg/01/17/69/82/500_F_117698246_GhGGdddRTGX9p1SfnuVjhVHhp7XBsPOz.jpg'"
                     alt=""/>
            </a>
            <!-- Dropdown - User Information -->
            <div class="dropdown-menu dropdown-menu-right shadow animated--grow-in" aria-labelledby="userDropdown">
                <a class="dropdown-item" href="#" th:href="@{/panel/account-profile}">
                    <i class="fas fa-user fa-sm fa-fw mr-2 text-gray-400"></i>
                    Profile
                </a>
                <a class="dropdown-item" href="#" th:href="@{/panel/account-security}">
                    <i class="fas fa-cogs fa-sm fa-fw mr-2 text-gray-400"></i>
                    Security
                </a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="#" data-toggle="modal" data-target="#logoutModal">
                    <i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i>
                    Logout
                </a>
            </div>
        </li>

    </ul>

    <!-- Logout Modal-->
    <div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
         aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Ready to Leave?</h5>
                    <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-body">Select "Logout" below if you are ready to end your current session.</div>
                <div class="modal-footer">
                    <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
                    <a class="btn btn-primary" href="/auth/logout">Logout</a>
                </div>
            </div>
        </div>
    </div>

</nav>
<!-- End of Top Bar -->


<!--Start of Address Form-->
<form class="user" th:fragment="address-form" action="#" th:action="@{__${#httpServletRequest.requestURI}__}"
      th:object="${address}" method="post">

    <div class="form-group">
        <label th:text="#{address.label.street.name}">Address</label>
        <input class="form-select form-control" type="text" th:field="*{streetName}">
        <label th:errors="*{streetName}">Name error placeholder</label>
    </div>

    <div class="form-group">
        <label th:text="#{address.label.city}">City</label>
        <select class="form-select form-control" th:field="*{cityId}">
            <option th:each="city : ${cities}"
                    th:value="${city.getId()}"
                    th:text="${city.getName()}+', '+${city.getCountry().getName()}">
                City Country
            </option>
        </select>
        <label th:errors="*{cityId}">City error placeholder</label>
    </div>

    <input class="btn btn-primary btn-user btn-block" type="submit" value="Save"/>
</form>
<!--End of Address Form-->


<!--Start of Country Form-->
<form class="user" th:fragment="country-form" action="#" th:action="@{__${#httpServletRequest.requestURI}__}"
      th:object="${country}" method="post">

    <div class="form-group">
        <label th:text="#{country.label.name}">Country</label>
        <input class="form-select form-control" type="text" th:field="*{name}"/>
        <label th:errors="*{name}">Name error placeholder</label>
    </div>

    <input class="btn btn-primary btn-user btn-block" type="submit" value="Save"/>
</form>
<!--End of Country Form-->


<!--Start of City Form-->
<form class="user" th:fragment="city-form" action="#" th:action="@{__${#httpServletRequest.requestURI}__}"
      th:object="${city}" method="post">

    <div class="form-group">
        <label th:text="#{city.label.name}">City</label>
        <input class="form-select form-control" type="text" th:field="*{name}">
        <label th:errors="*{name}">Name error placeholder</label>
    </div>

    <div class="form-group">
        <label th:text="#{city.label.country}">Country</label>
        <select class="form-select form-control" th:field="*{countryId}">
            <option th:each="country : ${countries}"
                    th:value="${country.getId()}"
                    th:text="${country.getName()}">
                City Country
            </option>
        </select>
        <label th:errors="*{countryId}">Country error placeholder</label>
    </div>

    <input class="btn btn-primary btn-user btn-block" type="submit" value="Save"/>
</form>
<!--End of City Form-->


<!--Start of Parcel Form-->
<form class="user" th:fragment="parcel-form" action="#" th:action="@{__${#httpServletRequest.requestURI}__}"
      th:object="${parcel}" method="post">

    <div class="form-group">
        <label for="user" th:text="#{parcel.label.customer}">Customer</label>
        <select id="user" class="form-select form-control" th:field="*{userId}">
            <option th:each="user : ${users}"
                    th:value="${user.getId()}"
                    th:text="${user.getFirstName()}+' '+${user.getLastName()}+' (#'+${user.getId()}+')'">
                Customer
            </option>
        </select>
        <label th:errors="*{userId}">User error placeholder</label>
    </div>

    <div class="form-group row">

        <div class="col-sm-12 col-md-12 col-lg-4 mb-3 mb-sm-0">
            <label for="category" th:text="#{parcel.label.category}">Category</label>
            <select id="category" class="form-select form-control" th:field="*{category}">
                <option th:each="category : ${T(com.team9.deliverit.models.enums.Category).values()}"
                        th:value="${category}"
                        th:text="${category.value}">
                    Category
                </option>
            </select>
            <label th:errors="*{category}">Category error placeholder</label>
        </div>

        <div class="col-sm-12 col-md-12 col-lg-4 mb-3 mb-sm-0">
            <label for="weight" th:text="#{parcel.label.weight}">Weight</label>
            <input id="weight" class="form-select form-control" type="number" step=".01" th:field="*{weight}">
            <label class="error" th:errors="*{weight}">Weight error placeholder</label>
        </div>

        <div class="col-sm-12 col-md-12 col-lg-4 mb-3 mb-sm-0">
            <label for="pickUp" th:text="#{parcel.label.pickupoption}">Pick Up Option</label>
            <select id="pickUp" class="form-select form-control" th:field="*{pickUpOption}">
                <option th:each="pickUp : ${T(com.team9.deliverit.models.enums.PickUpOption).values()}"
                        th:value="${pickUp}"
                        th:text="${pickUp.value}">
                    Pick Up Option
                </option>
            </select>
            <label th:errors="*{pickUpOption}">Pick Up Option error placeholder</label>
        </div>

    </div>

    <div class="form-group">
        <label for="shipment" th:text="#{parcel.label.shipment}">Shipment</label>
        <select id="shipment" class="form-select form-control" th:field="*{shipmentId}">
            <option th:each="shipment : ${shipments}"
                    th:value="${shipment.getId()}"
                    th:text="'ID: '+${shipment.getId}+', From: '
                +${shipment.getOriginWarehouse().getAddress().getStreetName()}+', '
                +${shipment.getOriginWarehouse().getAddress().getCity().getName}+', '
                +${shipment.getOriginWarehouse().getAddress().getCity().getCountry().getName()}+' | To: '
                +${shipment.getDestinationWarehouse().getAddress().getStreetName()}+', '
                +${shipment.getDestinationWarehouse().getAddress().getCity().getName}+', '
                +${shipment.getDestinationWarehouse().getAddress().getCity().getCountry().getName()}+'.'">
                Parcel Owner
            </option>
        </select>
        <label th:errors="*{shipmentId}">Shipment error placeholder</label>
    </div>

    <input class="btn btn-primary btn-user btn-block" type="submit" value="Save"/>
</form>

<form class="user" th:fragment="parcel-form-user" action="#"
      th:action="@{/panel/parcels/{id}/update/pickup(id = ${parcelId})}" method="post">

    <div class="form-group">
        <label for="pickUp" th:text="#{parcel.label.pickupoption}">Pick Up Option</label>
        <select id="pickUp" class="form-select form-control" th:name="pickUpOption">
            <option th:each="pickUp : ${T(com.team9.deliverit.models.enums.PickUpOption).values()}"
                    th:value="${pickUp}"
                    th:text="${pickUp.value}"
                    th:selected="${parcel.pickUpOption} == ${pickUp.value}">
                Pick Up Option
            </option>
        </select>
        <!--        <label th:errors="*{pickUpOption}">Pick Up Option error placeholder</label>-->
    </div>

    <input class="btn btn-primary btn-user btn-block" type="submit" value="Save"/>
</form>
<!--End of Parcel Form-->


<!--Start of Shipment Form-->
<form class="user" th:fragment="shipment-form" action="#" th:action="@{__${#httpServletRequest.requestURI}__}"
      th:object="${shipment}" method="post">

    <div class="form-group row">

        <div class="col-sm-5 mb-3 mb-sm-0">
            <label for="departure-date" th:text="#{shipment.label.departureDate}">Departure Date</label>
            <input class="form-select form-control" type="date" id="departure-date" th:field="*{departureDate}">
            <label th:errors="*{departureDate}">Departure Date error placeholder</label>
        </div>

        <div class="col-sm-5 mb-3 mb-sm-0">
            <label for="arrival-date" th:text="#{shipment.label.arrivalDate}">Arrival Date</label>
            <input class="form-select form-control" type="date" id="arrival-date" th:field="*{arrivalDate}">
            <label th:errors="*{arrivalDate}">Arrival Date error placeholder</label>
        </div>

        <div class="col-sm-2 mb-3 mb-sm-0">
            <label for="full" th:text="#{shipment.label.full}">Full</label>
            <div class="form-check">
                <input class="form-check-input" type="checkbox" id="full" th:field="*{full}">
            </div>
            <label th:errors="*{full}">Full error placeholder</label>
        </div>

    </div>

    <div class="form-group">

        <label for="status" th:text="#{shipment.label.status}">Status</label>
        <select class="form-select form-control" id="status" th:field="*{status}">
            <option th:each="status : ${T(com.team9.deliverit.models.enums.Status).values()}"
                    th:value="${status}"
                    th:text="${status.value}">
                Status
            </option>
        </select>
        <label th:errors="*{status}">Status error placeholder</label>

    </div>

    <div class="form-group row">

        <div class="col-sm-6 mb-3 mb-sm-0">
            <label for="origin-warehouse" th:text="#{shipment.label.originWarehouse}">Origin Warehouse</label>
            <select class="form-select form-control" id="origin-warehouse" th:field="*{originWarehouseId}">
                <option th:each="warehouse : ${warehouses}"
                        th:value="${warehouse.getId()}"
                        th:text="${warehouse.getAddress.getStreetName}">
                    Warehouse Address
                </option>
            </select>
            <label th:errors="*{originWarehouseId}">Status error placeholder</label>
        </div>

        <div class="col-sm-6 mb-3 mb-sm-0">
            <label for="destination-warehouse" th:text="#{shipment.label.destinationWarehouse}">Destination
                Warehouse</label>
            <select class="form-select form-control" id="destination-warehouse" th:field="*{destinationWarehouseId}">
                <option th:each="warehouse : ${warehouses}"
                        th:value="${warehouse.getId()}"
                        th:text="${warehouse.getAddress.getStreetName}">
                    Warehouse Address
                </option>
            </select>
            <label th:errors="*{destinationWarehouseId}">Destination Warehouse error placeholder</label>
        </div>

    </div>

    <input class="btn btn-primary btn-user btn-block" type="submit" value="Save"/>
</form>
<!--End of Shipment Form-->


<!--Start of User Form-->
<form th:fragment="user-form" class="user" action="#" th:action="@{__${#httpServletRequest.requestURI}__}"
      th:object="${user}" method="post">

    <div class="form-group">
        <label th:text="#{user.label.email}">Email</label>
        <input type="text" th:field="*{email}" class="form-select form-control" placeholder="Email Address">
        <label th:errors="*{email}">Email error placeholder</label>
    </div>

    <div class="form-group row">

        <div class="col-sm-6 mb-3 mb-sm-0">
            <label th:text="#{user.label.first.name}">First name</label>
            <input type="text" th:field="*{firstName}" class="form-select form-control" placeholder="First Name">
        </div>

        <div class="col-sm-6">
            <label th:text="#{user.label.last.name}">Last name</label>
            <input type="text" th:field="*{lastName}" class="form-select form-control" placeholder="Last Name">
        </div>

    </div>

    <div class="form-group row">

        <div class="col-sm-6 mb-3 mb-sm-0">
            <label th:text="#{user.label.address}">Address</label>
            <input type="text" th:field="*{streetName}" class="form-select form-control" placeholder="Address">
        </div>

        <div class="col-sm-6">
            <label th:text="#{user.label.city}">City</label>
            <select type="text" th:field="*{cityId}" class="form-select form-control">
                <option th:each="city : ${cities}"
                        th:value="${city.getId()}"
                        th:text="${city.getName()}+', '+${city.getCountry().getName()}">
                    City Country
                </option>
            </select>
            <label class="error" th:errors="*{cityId}">City error placeholder</label>
        </div>

    </div>

    <input class="btn btn-primary" type="submit" value="Save">
</form>

<form th:fragment="user-password" class="user" action="#" th:action="@{__${#httpServletRequest.requestURI}__}"
      th:object="${userPassword}" method="post">

    <div class="form-group">
        <label th:text="#{user.label.password.old}">Old Password</label>
        <input type="password" th:field="*{oldPassword}" class="form-select form-control">
        <label th:errors="*{oldPassword}">Old Password error placeholder</label>
    </div>

    <div class="form-group">
        <label th:text="#{user.label.password.new}">New Password</label>
        <input type="password" th:field="*{newPassword}" class="form-select form-control">
        <label th:errors="*{newPassword}">New Password error placeholder</label>
    </div>

    <div class="form-group">
        <label th:text="#{user.label.password.new.confirm}">Confirm New Password</label>
        <input type="password" th:field="*{confirmNewPassword}" class="form-select form-control">
        <label th:errors="*{confirmNewPassword}">Confirm New Password error placeholder</label>
    </div>

    <input class="btn btn-primary" type="submit" value="Save">
</form>
<!--End of User Form-->


<!--Start of Warehouse Form-->

<form class="user" th:fragment="warehouse-form" action="#" th:action="@{__${#httpServletRequest.requestURI}__}"
      th:object="${warehouse}" method="post">

    <div class="form-group">

        <label for="address" th:text="#{warehouse.label.address.street}">Address</label>
        <select id="address" class="form-select form-control" th:field="*{addressId}">
            <option th:each="address : ${addresses}"
                    th:value="${address.getId()}"
                    th:text="${address.getStreetName()}+', '+${address.getCity.getName()}+', '+${address.getCity.getCountry().getName()}">
                Address
            </option>
        </select>
        <label th:errors="*{addressId}">Address error placeholder</label>

    </div>

    <input class="btn btn-primary btn-user btn-block" type="submit" value="Save"/>
</form>

<!--End of Warehouse Form-->


<!--Start of User Picture Form-->
<form th:fragment="user-picture-form" class="user" action="#"
      th:action="@{__${#httpServletRequest.requestURI}__/picture}" th:object="${profilePicture}" method="post">

    <div class="form-group">
        <label th:text="#{user.label.picture}">Profile Picture</label>
        <input type="text" th:field="*{profilePicture}" class="form-select form-control" placeholder="Link to image...">
        <label th:errors="*{profilePicture}">Profile Picture error placeholder</label>
    </div>

    <input class="btn btn-primary" type="submit" value="Save">

</form>
<!--End of User Picture Form-->


<!-- Bootstrap core JavaScript-->
<script src="../static/panel/vendor/jquery/jquery.min.js" th:src="@{/panel/vendor/jquery/jquery.min.js}"></script>
<script src="../static/panel/vendor/bootstrap/js/bootstrap.bundle.min.js"
        th:src="@{/panel/vendor/bootstrap/js/bootstrap.bundle.min.js}"></script>

<!-- Core plugin JavaScript-->
<script src="../static/panel/vendor/jquery-easing/jquery.easing.min.js"
        th:src="@{/panel/vendor/jquery-easing/jquery.easing.min.js}"></script>

<!-- Custom scripts for all pages-->
<script src="../static/panel/js/sb-admin-2.min.js" th:src="@{/panel/js/sb-admin-2.min.js}"></script>

<!-- Page level plugins -->
<script src="../static/panel/vendor/chart.js/Chart.min.js" th:src="@{/panel/vendor/chart.js/Chart.min.js}"></script>

<!-- Page level custom scripts -->
<script src="../static/panel/js/demo/chart-area-demo.js" th:src="@{/panel/js/demo/chart-area-demo.js}"></script>
<script src="../static/panel/js/demo/chart-pie-demo.js" th:src="@{/panel/js/demo/chart-pie-demo.js}"></script>
</body>
</html>