<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Parcel Form Fragment</title>

    <!-- Custom fonts for this template-->
    <link href="../static/panel/vendor/fontawesome-free/css/all.min.css"
          th:href="@{/panel/vendor/fontawesome-free/css/all.min.css}"
          rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
          rel="stylesheet">

    <!-- Custom styles for this template-->
    <link href="../static/panel/css/sb-admin-2.min.css" th:href="@{/panel/css/sb-admin-2.min.css}" rel="stylesheet">
</head>
<body>
<form class="user" th:fragment="parcel-form" action="#" th:action="@{__${#httpServletRequest.requestURI}__}"
      th:object="${parcel}" method="post">

    <div class="form-group">
        <label for="user" th:text="#{parcel.label.customer}">Customer</label>
        <select id="user" class="form-select form-control" th:field="*{userId}">
            <option th:each="user : ${users}"
                    th:value="${user.getId()}"
                    th:text="${user.getFirstName()}+' '+${user.getLastName()}+' (#'+${user.getId()}+')'">
                Customer
            </option>
        </select>
        <label th:errors="*{userId}">User error placeholder</label>
    </div>

    <div class="form-group row">

        <div class="col-sm-12 col-md-12 col-lg-4 mb-3 mb-sm-0">
            <label for="category" th:text="#{parcel.label.category}">Category</label>
            <select id="category" class="form-select form-control" th:field="*{category}">
                <option th:each="category : ${T(com.team9.deliverit.models.enums.Category).values()}"
                        th:value="${category}"
                        th:text="${category.value}">
                    Category
                </option>
            </select>
            <label th:errors="*{category}">Category error placeholder</label>
        </div>

        <div class="col-sm-12 col-md-12 col-lg-4 mb-3 mb-sm-0">
            <label for="weight" th:text="#{parcel.label.weight}">Weight</label>
            <input id="weight" class="form-select form-control" type="number" step=".01" th:field="*{weight}">
            <label class="error" th:errors="*{weight}">Weight error placeholder</label>
        </div>

        <div class="col-sm-12 col-md-12 col-lg-4 mb-3 mb-sm-0">
            <label for="pickUp" th:text="#{parcel.label.pickupoption}">Pick Up Option</label>
            <select id="pickUp" class="form-select form-control" th:field="*{pickUpOption}">
                <option th:each="pickUp : ${T(com.team9.deliverit.models.enums.PickUpOption).values()}"
                        th:value="${pickUp}"
                        th:text="${pickUp.value}">
                    Pick Up Option
                </option>
            </select>
            <label th:errors="*{pickUpOption}">Pick Up Option error placeholder</label>
        </div>

    </div>

    <div class="form-group">
        <label for="shipment" th:text="#{parcel.label.shipment}">Shipment</label>
        <select id="shipment" class="form-select form-control" th:field="*{shipmentId}">
            <option th:each="shipment : ${shipments}"
                    th:value="${shipment.getId()}"
                    th:text="'ID: '+${shipment.getId}+', From: '
                +${shipment.getOriginWarehouse().getAddress().getStreetName()}+', '
                +${shipment.getOriginWarehouse().getAddress().getCity().getName}+', '
                +${shipment.getOriginWarehouse().getAddress().getCity().getCountry().getName()}+' | To: '
                +${shipment.getDestinationWarehouse().getAddress().getStreetName()}+', '
                +${shipment.getDestinationWarehouse().getAddress().getCity().getName}+', '
                +${shipment.getDestinationWarehouse().getAddress().getCity().getCountry().getName()}+'.'">
                Parcel Owner
            </option>
        </select>
        <label th:errors="*{shipmentId}">Shipment error placeholder</label>
    </div>

    <input class="btn btn-primary btn-user btn-block" type="submit" value="Save"/>
</form>

<!-- Bootstrap core JavaScript-->
<script src="../static/panel/vendor/jquery/jquery.min.js" th:src="@{/panel/vendor/jquery/jquery.min.js}"></script>
<script src="../static/panel/vendor/bootstrap/js/bootstrap.bundle.min.js"
        th:src="@{/panel/vendor/bootstrap/js/bootstrap.bundle.min.js}"></script>

<!-- Core plugin JavaScript-->
<script src="../static/panel/vendor/jquery-easing/jquery.easing.min.js"
        th:src="@{/panel/vendor/jquery-easing/jquery.easing.min.js}"></script>

<!-- Custom scripts for all pages-->
<script src="../static/panel/js/sb-admin-2.min.js" th:src="@{/panel/js/sb-admin-2.min.js}"></script>
</body>
</html>