<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="${shipment.getId}">Shipment profile</title>
</head>
<body>
<ul>
    <li><h3><a href="/" th:text="#{navigation.home}">Home</a></h3></li>
    <li><h3><a href="#" th:href="@{/shipments}" th:text="#{navigation.all-shipments}">Browse all shipments</a></h3></li>
</ul>

<h2 th:text= "${shipment.getId}">Shipment Id</h2>
<h2 th:text="${shipment.getOriginWarehouse.getAddress.getStreetName}">Shipment Origin Warehouse</h2>
<h2 th:text="${shipment.getDestinationWarehouse.getAddress.getStreetName}">Shipment Destination Warehouse</h2>
<h2 th:text="${shipment.getDepartureDate}">Shipment Departure Date</h2>
<h2 th:text="${shipment.getArrivalDate}">Shipment Arrival Date</h2>
<h2 th:text="${shipment.getStatus}">Shipment Status</h2>
<h2 th:text="${shipment.isFull}">Shipment Full</h2>

<h3>
    <a href="#" th:href="@{__${#httpServletRequest.requestURI}__/update}">Update</a>
    <a href="#" th:href="@{__${#httpServletRequest.requestURI}__/delete}">Delete</a>
</h3>

</body>
</html>