<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>All Warehouses</title>
    <link href="../static/styles.css" th:href="@{/styles.css}" rel="stylesheet"/>
</head>
<body>
<ul>
    <li><h3><a href="/" th:text="#{navigation.home}">Home</a></h3></li>
</ul>

<div th:if="${warehouses.isEmpty()}">
    <h2 th:text="#{warehouse.title.empty}">No Warehouses</h2>
</div>
<div th:unless="${warehouses.isEmpty()}">
    <h2 th:text="#{warehouse.title}">All Warehouses</h2>

    <div class="table">
        <div class="header">
            <div class="cell" th:text="#{warehouse.label.address}">Street Name</div>
        </div>
        <div class="row" th:each="warehouse : ${warehouses}">
            <div class="cell">
                <a href="#" th:href="@{/warehouses/{id}(id=${warehouse.getId()})}"
                   th:text="${warehouse.getAddress().streetName}+', '+${warehouse.getAddress.getCity().getName()}+', '+${warehouse.getAddress().getCity().getCountry().getName()}">Address</a>
            </div>
        </div>
    </div>
</div>
</body>
</html>
