<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Warehouse Form Fragment</title>

    <!-- Custom fonts for this template-->
    <link href="../static/panel/vendor/fontawesome-free/css/all.min.css"
          th:href="@{/panel/vendor/fontawesome-free/css/all.min.css}"
          rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
          rel="stylesheet">

    <!-- Custom styles for this template-->
    <link href="../static/panel/css/sb-admin-2.min.css" th:href="@{/panel/css/sb-admin-2.min.css}" rel="stylesheet">
</head>
<body>
<form class="user" th:fragment="warehouse-form" action="#" th:action="@{__${#httpServletRequest.requestURI}__}"
      th:object="${warehouse}" method="post">

    <div class="form-group">

        <label for="address" th:text="#{warehouse.label.address.street}">Address</label>
        <select id="address" class="form-select form-control" th:field="*{addressId}">
            <option th:each="address : ${addresses}"
                    th:value="${address.getId()}"
                    th:text="${address.getStreetName()}+', '+${address.getCity.getName()}+', '+${address.getCity.getCountry().getName()}">
                Address
            </option>
        </select>
        <label th:errors="*{addressId}">Address error placeholder</label>

    </div>

    <input class="btn btn-primary btn-user btn-block" type="submit" value="Save"/>
</form>
<!-- Bootstrap core JavaScript-->
<script src="../static/panel/vendor/jquery/jquery.min.js" th:src="@{/panel/vendor/jquery/jquery.min.js}"></script>
<script src="../static/panel/vendor/bootstrap/js/bootstrap.bundle.min.js"
        th:src="@{/panel/vendor/bootstrap/js/bootstrap.bundle.min.js}"></script>

<!-- Core plugin JavaScript-->
<script src="../static/panel/vendor/jquery-easing/jquery.easing.min.js"
        th:src="@{/panel/vendor/jquery-easing/jquery.easing.min.js}"></script>

<!-- Custom scripts for all pages-->
<script src="../static/panel/js/sb-admin-2.min.js"></script>

</body>
</html>